<div id="content">

  <h1>Edit a match:</h1>

  <form action="/matches" method="post">

    <label for="player_winner">Winner:</label>
    <select name = 'player_winner'>

      <% @players.each do |each| %>

      <option value="<%= each.id %>"
      <%= "selected" if each.id == @match.player_winner %>
      >
      
        <%= each.name %>
      </option>
      <% end %>
    </select>

    <input type="number" name="winner_points" value="<%= @match.winner_points %>">Points</input>

    <hr>

    <label for="player_looser">Looser:</label>
    <select name = 'player_looser' selected="<%= @match.player_looser %>">
      <% @players.each do |each| %>
      <option value="<%= each.id %>"
      <%= "selected" if each.id == @match.player_looser %>
      >
        <%= each.name %>
      </option>
      <% end %>
    </select>

    <input type="number" name="looser_points" value="<%= @match.looser_points %>">Points</input>

    <p>
      <input type='submit' value="Submit">
    </p>

  </form>

</div>
