<div id="content">


  <p> 
    <%= @match.winner_points %>
    <%= @player_winner.name %>
  </p>

  <p>
    <%= @match.looser_points %>
    <%= @player_looser.name %>
  </p>

  <a href="/matches/<%= @match.id %>/edit ">Edit match</a>

  <form action="/matches/<%= @match.id %>/delete" method="post">
    <input type="submit" value="Delete Match"/>
  </form>   

</div>

