<div id="content">

  <h1>Winner:</h1>
  <p>Name: </p>
  <%= @match.player_winner %>
  <%= @match.winner_points %>

  <%= @player_winner.name %>
  <%= @player_looser.name %>
  <%= @match.player_looser %>
  <%= @match.looser_points %>


